<h3><%= link_to @project.name, @project %></h3>

<hr />
<ul class="navlist">
<li>Task Lists</li>

<li><%= link_to 'Add task list', [:new, @project, :tasklist], :class => 'btn btn-mini'%></li>
</ul>

<% @tasklists.each do |tasklist| %>
<table class="table table-bordered table-condensed">
  <thead>
    <tr>
    	<th>
        
        <%= tasklist.name %>
         <div class='pull-right'>
        <% if tasklist.start_date? %>
              Start:<span class="date"> <%= l tasklist.start_date %> </span>
              Duration:
              <span class="date"> 
                <%= distance_of_time_in_words(tasklist.start_date, tasklist.end_date) %>
              </span>
        <% else %>
          Due date:<span class="date"> <%= tasklist.end_date %></span>
        <% end %>
          <%= link_to [:edit, @project, tasklist], :class => 'btn btn-mini',
                                                   :method => 'get' do %>
            <i class="icon-pencil icon-white"></i> Edit
          <% end %>
       </div>   
    </tr>
  </thead>
  <tbody>
        <tr>
          <td>this is a task</td>
        </tr>


  </tbody>
</table>
<% end %>