<h2>Sign up</h2>
<div class="row">
  	<div class="span4 offset4">
    <% resource.build_profile %>
    <% if @invite.nil? %>
      <% invite = 'empty' %>
    <% else %>
      <% invite = @invite.email %>
    <% end %>
		<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  			<%= devise_error_messages! %>

        <%= f.fields_for :profile do |fa| %>
          <div><%= fa.label :name %><br />
          <%= fa.text_field :name %></div>

          <div><%= fa.label :company %><br />
          <%= fa.text_field :company %></div>

        <% end %>

  			<div><%= f.label :email %><br />
  			<%= f.email_field :email, value: invite %></div>

  			<div><%= f.label :password %><br />
 			<%= f.password_field :password %></div>

  			<div><%= f.label :password_confirmation %><br />
  			<%= f.password_field :password_confirmation %></div>

  			<div><%= f.submit "Sign up", :class => 'btn' %></div>
		<% end %>

		<%= render :partial => "devise/shared/links" %>
	</div>
</div>