
<%= form.text_field :title, :placeholder => 'Enter short description of the issue...' %>
<h3>Description/Notes</h3><br />
<%= form.text_area :description, :placeholder => 'Enter full description or notes for the issue', :rows => 5 %>

<%= form.label :email_tokens, "Who to notify:" %>
<%= form.text_field :email_tokens, "data-email-details" => form.object.current_email_details.to_json %>

<% ["RFI", "Completion of works", "Rectification", "Out of Scope", "Snag Item"].each do |item| %>
  <%= form.radio_button :issue_type, item %> <%= item %><br />
<% end %>
<br />

<div><%= form.select :assigned_to_id , @project.team.users.all.collect{|user| [user.profile.name, user.id]}, {:include_blank => 'Unassigned'} %></div>

