<%= link_to issue.title, [project, issue], :class => 'todo-list' %>
              
<span class="label label-important"><%= issue.issue_type %></span>
<% if issue.closed_at.nil? %>
  <%= link_to 'Close', [project, issue, :close_issue], :class => 'btn btn-success btn-mini pull-right btn-gap', 
                                                       :method => 'put'%>
<% else %>
  <%= link_to 'Reopen', [project, issue, :reopen_issue], :class => 'btn btn-info btn-mini pull-right btn-gap', 
                                                       :method => 'put'%> 
<% end %>                                                                                                      

<%= link_to 'Follow up', '#', :class => 'btn btn-warning pull-right btn-mini btn-gap' %>
              
<div class="notes">
  <% unless issue.created_by.nil? %>
    Created by <%= link_to issue.created_by.profile.name, '#' %> <%= relative_date(issue.created_at) %>
  <% end %>
  <% unless issue.todo.nil? %>
    To-do <%= link_to issue.todo.name, [@project, issue.todo.todolist, issue.todo] %>
  <% end %>
</div>