<%= link_to issue.title, [project, issue], :class => 'todo-list' %>
              
<span class="label label-important"><%= issue.issue_type %></span>
<% if issue.closed_at.nil? %>
  <%= link_to 'Close', [project, issue, :close_issue], :class => 'btn btn-success btn-mini pull-right btn-gap', 
                                                       :method => 'put'%>
<% else %>
  <%= link_to 'Reopen', [project, issue, :reopen_issue], :class => 'btn btn-info btn-mini pull-right btn-gap', 
                                                       :method => 'put'%> 
 
  <% unless issue.closed_at.nil? %>
    Closed <%= relative_date(issue.closed_at) %> ago
  <% end %>
 
<% end %>                                                                                                      

<%= link_to 'Follow up', project_issue_follow_ups_path(project, issue), :method => :post, :class => 'btn btn-warning pull-right btn-mini btn-gap' %>
              
<div class="notes">
  <% unless title == true %>
    <% unless issue.created_by.nil? %>
     Created by <%= link_to issue.created_by.profile.name, '#' %> <%= relative_date(issue.created_at) %>
    <% end %>
    <% unless issue.todo.nil? %>
      for To-do <%= link_to issue.todo.name, [@project, issue.todo.todolist, issue.todo] %>
    <% end %>
  <% end %>
</div>