<h3><%= link_to @project.name, @project %> <i class="icon-arrow-right"></i> Issues </h3>
<hr />

<ul class="nav nav-tabs">
  <%= navbar_entry open_issues? do %>
    <%= link_to 'open', project_issues_path(@project) %>
  <% end %>
  <%= navbar_entry closed_issues? do %>
    <%= link_to 'closed', project_issues_path(@project, filter: "closed") %>
  <% end %>
  <li class="pull-right">
    <%= link_to 'New Issue', new_project_issue_path(@project) %>
  </li>

</ul>

<table class="table table-bordered table-condensed">
  <thead>
    <tr>
    	<th>Issues</th>
    </tr>
  </thead>
  <tbody>
    <% unless @issues.exists? %>
      <tr>
        <td>There are currently issues. Awsome!</td>
      </tr>
    <% else %>
    	<% @issues.each do |issue| %>
      <tr>
        <td>
          <%= render :partial => 'issue', :locals => { :issue => issue , :project => @project, :title => false, :open_issues => open_issues?,                                           :closed_issues => closed_issues?} %>
        </td>
      </tr>
    	<% end %>
    <% end %>
  </tbody>
</table>




