<h3><%= link_to @project.name, [current_account, @project] %></h3>
<%= render_project_menu @project %>

  <div class="pull-right navlist"> <%= link_to [:edit,current_account, @project, @issue], :class => 'btn',
                                               :method => 'get' do %>
            <i class="icon-pencil icon-white"></i> Edit Issue
          <% end %></div>


<table class="table table-bordered table-condensed">
      <thead>
        <tr>
          <th>
            Issue 
          </th>
          
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <%= render :partial => 'issue', :locals => { :issue => @issue , :project => @project, :title => true } %> 
            <% unless @issue.description.empty? %>
              <%= @issue.description %>
            <% else %>
              No description 
            <% end %>

            <div class="notes">
                <% unless @issue.created_by.nil? %>
                  Created by <%= link_to @issue.created_by.profile.name, '#' %> <%= relative_date(@issue.created_at) %>
                <% end %>
                <% unless @issue.item.nil? %>
                  To-do <%= link_to @issue.item.name, [@project, @issue.item.worklist, @issue.item] %>
                <% end %>
              </div>
          </td>
        </tr>

      </tbody>


  </table>
  <% if (count = @issue.follow_ups.count).nonzero? %>      
  <table class="table table-bordered table-condensed">
      <thead>
        <tr>
          <th>
            Follow ups <span class="badge"><%= count %></span>
          </th>
          
        </tr>
      </thead>
      <tbody>
        <% @issue.follow_ups.each do |follow_up| %>
        <tr>
          <td>
            <% unless follow_up.followed_up_by.nil? %>
              by <%= link_to follow_up.followed_up_by.profile.name, '#' %> on 
            <% end %>
            <span class="date"><%= l follow_up.created_at, format: :short  %></span> <%= relative_date(follow_up.created_at) %> ago
          </td>
        </tr>
        <% end %>
      </tbody>
  </table>
  <% end %>


