<h1>Edit Project</h1>
<div class="row">
  	<div class="span4 offset4">
  	<div class="well">
  	<%= form_for @project do |f| %>

  	<%= f.text_field :name, :placeholder => 'Enter Project Name' %>
    
    
    <%= f.text_field :job_number, :placeholder => 'Enter Job Number' %>
	</div>
	
  <%= f.submit "Update Project", :class => 'btn btn-primary' %>
  <%= link_to 'Cancel', projects_path, :class => 'btn' %>

<% end %>

 </div>
</div>