<h2>New Project</h2>
 <div class="row">
  	<div class="span4 offset4">
  	<div class="well">
  	<%= form_for [@account, @project] do |f| %>


  	<%= f.text_field :name, :placeholder => 'Enter Project Name' %>
    
    
    <%= f.text_field :job_number, :placeholder => 'Enter Job Number' %>
	</div>
	
  <%= f.submit "Create Project", :class => 'btn btn-primary' %>
  <%= link_to 'Cancel', account_projects_path(current_account), :class => 'btn' %>

<% end %>

 </div>
</div>