<h3><%= @project.name %></h3>

<%= render_project_menu @project %>
<div class="navlist">
  To-do Lists <%= link_to 'Add to-do list', new_project_todolist_path(@project), :class => 'btn btn-mini' %>
</div>

<% @todolists.each do |todolist| %>
<table class="table table-bordered table-condensed">
  <thead>
    <tr>
    	<th>
        <%=link_to todolist.name, [@project, todolist], :class => 'todo-list' %>
        <div class='pull-right'>
        <% if todolist.start_date? && todolist.start_date.future? %>
          Due to start in: <span class="date"><%= relative_date(todolist.start_date) %> </span>
          Duration: <span class="date"><%= relative_date(todolist.end_date, todolist.start_date) %></span>
        <% elsif todolist.end_date? %>
          <%= formatted_todolist_end_date todolist %>
        <% end %>
       </div>
      </th>
     </tr>
  </thead>
  <tbody>
    <% if todolist.todos.count <= 0 %>
      <tr>
        <td>
          Let's get started and add some tasks to the list
        </td>
      </tr>
    <% else %>
      <% todolist.todos.each do |todo| %>
        <% unless todo.completed_at? %>
          <tr>
            <td>
              <%= link_to todo.name, [@project, todolist, todo], :class => 'todo-list' %>
                <span class="notes"> created <%= distance_of_time_in_words_to_now(todo.created_at) %></span>

                <%= link_to 'Issue', '#', :class => 'btn btn-warning btn-mini pull-right btn-gap' %>

                <%= link_to [@project, todolist, todo, :complete_todo], :class => 'btn btn-mini btn-success pull-right btn-gap', :method => 'put' do %>
                  <i class="icon-ok icon-white"></i> Done
                <% end %>

                <% unless todo.assigned_to == nil  %>
                  <span class="label label-info btn-gap pull-right"><%= todo.assigned_to.profile.name %></span>
                <% else %>
                    <span class="label label-info btn-gap pull-right">Unassigned</span>
                <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
    <tr>
      <td>
        <%= link_to [:new, @project, todolist, :todo]  do%>
          <i class="icon-plus"></i> Add to-do
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
<br />
<% end %>