<h3><%= @project.name %></h3>


<div class="project-nav">
<ul class="nav nav-tabs ">
  <li><%= link_to 'Tasks', project_tasklists_path(@project) %></li>
  <li><%= link_to 'Waiting', '#' %></li>
  <li><%= link_to 'Orders', '#' %></li>
  <li><%= link_to 'R.F.I.', '#' %></li>
  <li><%= link_to 'Files', '#' %></li>
  <li><%= link_to 'Dates', '#' %></li>
</ul>
</div>

<ul class="navlist">
<li>Task Lists</li>

<li><%= link_to 'Add task list', new_project_tasklist_path(@project), :class => 'btn btn-mini'%></li>
</ul>

<% @tasklists.each do |tasklist| %>
<table class="table table-bordered table-condensed">
  <thead>
    <tr>
    	<th>
        <%= tasklist.name %>
        <div class='pull-right'>
          Start:<span class="date"> <%= l tasklist.start_date %> </span>
          Duration:<span class="date"> <%= distance_of_time_in_words(tasklist.start_date, tasklist.end_date) %></span>
       
      
       
        <%= link_to [:edit, @project, tasklist], :class => 'btn btn-mini',
                                                 :method => 'get' do %>
            <i class="icon-pencil icon-white"></i>
            <% end %>
         </div> 
      </th>
     </tr>
  </thead>
  <tbody>
        <tr>
          <td>this is a task </td>

          
        	


        </tr>


  </tbody>
</table>
<% end %>