<%= render 'error_messages' %>
<div class="row">
  <div class="span4 offset4">
    <h3>New List</h3><br/>
    <%= form_for [@worklist.project, @worklist] do |f| %>

      <%= render :partial => "form", :object => f %>


      <%= f.submit "Create List", :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', @worklist.project, :class => 'btn'%>

    <% end %>
  </div>
</div>