
<h3>
  <%= link_to @project.name, @project %>
  <i class="icon-arrow-right"></i> <%= link_to 'To-do Lists', [@project, :worklists] %>
  <i class="icon-arrow-right"></i> <%= @worklist.name %>
</h3>
<hr />


<ul class="nav nav-tabs">
  <%= navbar_entry active_items? do %>
    <%= link_to 'Active', [@project, @worklist] %>
  <% end %>
  <%= navbar_entry completed_items? do %>
    <%= link_to 'Completed', project_worklist_path(@project, @worklist, filter: "completed") %>
  <% end %>

  <li class="pull-right">
    <%= link_to [:edit, @project, @worklist], :method => 'get' do %>
      <i class="icon-pencil icon-white"></i> Edit List
    <% end %>
  </li>
</ul>

<table class="table table-bordered table-condensed">
  <thead>
    <tr>
      <th>
        <%= render :partial => 'worklists/list_header', :locals => { :worklist => @worklist, completed_items: completed_items?, active_items: active_items? } %>
      </th>
     </tr>
  </thead>
  <tbody>
    <% if !@worklist.items.exists? %>
      <tr>
        <td>
          Let's get started and add some tasks to the list
        </td>
      </tr>
    <% elsif !@worklist.items.incomplete.exists? %>
      <tr>
        <td>
          All items have been completed, why not add some more?
        </td>
      </tr>
    <% else %>
      <% @items.each do |item| %>
        <tr>
          <td>
            <%= render :partial => 'items/item', :locals => { :worklist => @worklist,
                                                              :item => item,
                                                              :project => @project } %>
          </td>
        </tr>
      <% end %>
    <% end %>
    <tr>
      <td>
        <%= link_to [:new, @project, @worklist, :item]  do%>
          <i class="icon-plus"></i> Add to-do
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
<br />