<% todolists.each do |todolist| %>
<table class="table table-bordered table-condensed">
  <thead>
    <tr>
    	<th>
       <%=link_to todolist.name, [@project, todolist], :class => 'todo-list' %>
        <div class='pull-right'>
        <% if todolist.start_date? && todolist.start_date.future? %>
          Due to start in: <span class="date"><%= relative_date(todolist.start_date) %> </span>
          Duration: <span class="date"><%= relative_date(todolist.end_date, todolist.start_date) %></span>
        <% elsif todolist.end_date? %>
          <%= formatted_todolist_end_date todolist %>
        <% end %>
       </div>
      </th>
     </tr>
  </thead>
  <tbody>
    <% if todolist.todos.none? %>
      <tr>
        <td>
          Let's get started and add some tasks to the list
        </td>
      </tr>
    <% elsif todolist.todos.in_progress.none? %>
      <tr>
        <td>
          All todos have been completed, why not add some more?
        </td>
      </tr>
    <% else %>
      <% todolist.todos.in_progress.each do |todo| %>
        <tr>
          <td>
            <%= link_to todo.name, [@project, todolist, todo], :class => 'todo-list' %>
              <span class="notes"> created <%= relative_date(todo.created_at) %></span>

              <%= link_to 'Issue', new_project_issue_path(@project, :todo_id => todo.id), :class => 'btn btn-warning btn-mini pull-right btn-gap' %>

              <%= link_to [@project, todolist, todo, :complete_todo], :class => 'btn btn-mini btn-success pull-right btn-gap', :method => 'put' do %>
                <i class="icon-ok icon-white"></i> Done
              <% end %>

              <% unless todo.assigned_to == nil  %>
                <span class="label label-info btn-gap pull-right"><%= todo.assigned_to.profile.name %></span>
              <% else %>
                  <span class="label label-info btn-gap pull-right">Unassigned</span>
              <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
    <tr>
      <td>
        <%= link_to new_project_todolist_todo_path(@project, todolist, :from => controller.controller_name )  do%>
          <i class="icon-plus"></i> Add to-do
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
<br />
<% end %>