<h2>Edit List</h2>
<div class="row">
<div class="span4 offset4">
  <%= form_for [@todolist.project, @todolist] do |f| %>

    <%= hidden_field_tag :from, params[:from] %>

    <div class='well'>

      <%= f.text_field :name, :placeholder => 'Enter List Name' %>

      <%= f.label 'Start date (optional)' %>
      <div><%= f.date_select :start_date, {:prompt => {:day => 'Day', :month => 'Month', :year => 'Year'}}, :class => 'date-field' %></div>

      <%= f.label 'Due Date (optional)' %>
      <div><%= f.date_select :end_date, {:prompt => {:day => 'Day', :month => 'Month', :year => 'Year'}}, :class => 'date-field' %></div>

    

    <%= f.submit "Update", :class => 'btn btn-primary' %>
    
    <%= link_to [@todolist.project, @todolist] , method: :delete, :class => 'btn btn-danger', confirm: "You sure?" do %>
            <i class="icon-trash icon-white"></i> Delete
      <% end %>
      <%= link_to 'Cancel', @todolist.project, :class => 'btn'%>
  <% end %>
  </div>
</div>


</div>