<%= render 'error_messages' %>
<div class="row">
  <div class="span4 offset4">
    <h3>Edit List</h3><br/>
    <%= form_for [@todolist.project, @todolist] do |f| %>
    
      <%= render :partial => "form", :object => f %>
  
      <%= f.submit "Update", :class => 'btn btn-primary' %>
    
      <%= link_to [@todolist.project, @todolist] , method: :delete, :class => 'btn btn-danger', confirm: "You sure?" do %>
        <i class="icon-trash icon-white"></i> Delete
      <% end %>
      <%= link_to 'Cancel', [@todolist.project, @todolist], :class => 'btn'%>
    <% end %>
  </div>
</div>