<%= render 'shared/menu' %>


<div class="navlist"> 
  To-do Lists <%= link_to 'Add to-do list', new_project_todolist_path(@project), :class => 'btn btn-mini' %>
</div>

<% @todolists.each do |todolist| %>
<table class="table table-bordered table-condensed">
  <thead>
    <tr>
    	<th>
        
        <%= todolist.name %>
         <div class='pull-right'>
        <% if todolist.start_date? %>
              Start:<span class="date"> <%= l todolist.start_date %> </span>
              Duration:
              <span class="date"> 
                <%= distance_of_time_in_words(todolist.start_date, todolist.end_date) %>
              </span>
        <% else %>
          Due date:<span class="date"> <%= todolist.end_date %></span>
        <% end %>
          <%= link_to [:edit, @project, todolist], :class => 'btn btn-mini',
                                                   :method => 'get' do %>
            <i class="icon-pencil icon-white"></i> Edit
          <% end %>
       </div>   
    </tr>
  </thead>
  <tbody>
        <tr>
          <td>this is a todo</td>
        </tr>


  </tbody>
</table>
<% end %>