
<h3>
  <%= link_to @project.name, @project %> 
  <i class="icon-arrow-right"></i> <%= link_to 'To-do Lists', [@project, :todolists] %> 
  <i class="icon-arrow-right"></i> <%= @todolist.name %>
</h3>
<hr />


<span class="pull-right navlist"> 
  <%= link_to [:edit, @project, @todolist], :class => 'btn', :method => 'get' do %>
    <i class="icon-pencil icon-white"></i> Edit List
  <% end %>
</span>

<table class="table table-bordered table-condensed">
  <thead>
    <tr>
      <th>
        <%= render :partial => 'todolists/list_header', :locals => { :todolist => @todolist } %>
      </th>
     </tr>
  </thead>
  <tbody>
    <% if @todolist.todos.none? %>
      <tr>
        <td>
          Let's get started and add some tasks to the list
        </td>
      </tr>
    <% elsif @todolist.todos.in_progress.none? %>
      <tr>
        <td>
          All todos have been completed, why not add some more?
        </td>
      </tr>
    <% else %>
      <% @todolist.todos.in_progress.each do |todo| %>
        <tr>
          <td>
            <%= render :partial => 'todos/todo', :locals => { :todolist => @todolist, 
                                                              :todo => todo, 
                                                              :project => @project } %>
          </td>
        </tr>
      <% end %>
    <% end %>
    <tr>
      <td>
        <%= link_to [:new, @project, @todolist, :todo]  do%>
          <i class="icon-plus"></i> Add to-do
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
<br />

<table class="table table-bordered table-condensed">
  <thead>
    <tr>
      <th>
        Completed To-dos
      </th>
     </tr>
  </thead>
  <tbody>
    <% if @todolist.todos.none? %>
      <tr>
        <td>
          Let's get started and add some tasks to the list
        </td>
      </tr>
    <% elsif @todolist.todos.in_progress.none? %>
      <tr>
        <td>
          All todos have been completed, why not add some more?
        </td>
      </tr>
    <% else %>
      <% @todolist.todos.completed.each do |todo| %>
        <tr>
          <td>
            <%= render :partial => 'todos/todo', :locals => { :todolist => @todolist, 
                                                              :todo => todo, 
                                                              :project => @project } %>

          </td>
        </tr>
      <% end %>
    <% end %>
    <tr>
      <td>
        <%= link_to [:new, @project, @todolist, :todo]  do%>
          <i class="icon-plus"></i> Add to-do
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
<br />

