
<h3><%= link_to @project.name, @project %> <i class="icon-arrow-right"></i> <%= link_to 'To-do Lists', [@project, :todolists] %> <i class="icon-arrow-right"></i> <%= @todolist.name %></h3>
<hr />


  <span class="pull-right navlist"> <%= link_to [:edit, @project, @todolist], :class => 'btn',
                                                   :method => 'get' do %>
            <i class="icon-pencil icon-white"></i> Edit List
          <% end %></span>
      


<table class="table table-bordered table-condensed">
  <thead>
    <tr>
      <th>
        Active To-dos
        <div class='pull-right'>
        <% if @todolist.start_date? %>

            <% if @todolist.start_date > DateTime.now.to_date %>
              Due to start in:<span class="date"> <%= distance_of_time_in_words_to_now(@todolist.start_date) %> </span>
              Duration:<span class="date"> <%= distance_of_time_in_words(@todolist.start_date, @todolist.end_date) %></span>
            <% else %>
              <% if @todolist.end_date > DateTime.now.to_date %>
                <span class="date"> 
                  <%= distance_of_time_in_words(DateTime.now.to_date, @todolist.end_date) %> 
                </span>
                Until scheduled completion date
              <% else %>
                Was due for completion
                <span class="date overdue"> 
                  <%= distance_of_time_in_words(DateTime.now.to_date, @todolist.end_date) %> 
                </span>
                ago
              <% end %>
          <% end %>

        <% elsif @todolist.end_date? %>

            <% if @todolist.end_date > DateTime.now.to_date %>
                <span class="date"> 
                  <%= distance_of_time_in_words(DateTime.now.to_date, @todolist.end_date) %> 
                </span>
                Until scheduled completion date
            <% else %>
                Was due for completion
                <span class="date overdue"> 
                  <%= distance_of_time_in_words(DateTime.now.to_date, @todolist.end_date) %> 
                </span>
                ago
            <% end %>

        <% else %>

        <% end %>
       </div>   
      </th>
     </tr>
  </thead>
  <tbody>
    <% if @todolist.todos.count <= 0 %>
      <tr>
        <td>
          Let's get started and add some tasks to the list
        </td>
      </tr>
    <% else %>
      <% @todolist.todos.each do |todo| %>
        <% unless todo.completed_at? %>
          <tr>
            <td>
              <%= link_to todo.name, [@project, @todolist, todo], :class => 'todo-list' %> 
                <span class="notes"> created <%= distance_of_time_in_words_to_now(todo.created_at) %></span>
              
                <%= link_to 'Issue', '#', :class => 'btn btn-warning btn-mini pull-right btn-gap' %>
            
                <%= link_to [@project, @todolist, todo, :complete_todo], :class => 'btn btn-mini btn-success pull-right btn-gap', :method => 'put' do %>
                  <i class="icon-ok icon-white"></i> Done
                <% end %>

                <% unless todo.assigned_to == nil  %>
                  <span class="label label-info btn-gap pull-right"><%= todo.assigned_to.profile.name %></span>
                <% else %>
                    <span class="label label-info btn-gap pull-right">Unassigned</span>
                <% end %> 
            </td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
    <tr>
      <td>
        <%= link_to [:new, @project, @todolist, :todo]  do%>
          <i class="icon-plus"></i> Add to-do
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
<br />
<table class="table table-bordered table-condensed">
  <thead>
    <tr>
      <th>
       Completed To-dos
      </th>
     </tr>
  </thead>
  <tbody>
    <% if @todolist.todos.count <= 0 %>
      <tr>
        <td>
          There are no completed To-dos yet
        </td>
      </tr>
    <% else %>
      <% @todolist.todos.each do |todo| %>
        <% if todo.completed_at? %>
          <tr>
            <td>
              <%= link_to todo.name, [@project, @todolist, todo], :class => 'todo-list' %> 
                <span class="notes"> completed <%= distance_of_time_in_words_to_now(todo.completed_at) %></span>
            
                <%= link_to [@project, @todolist, todo, :incomplete_todo], :class => 'btn btn-mini btn-info pull-right btn-gap', :method => 'put' do %>
                  <i class="icon-remove icon-white"></i> incomplete
                <% end %>

                <% unless todo.assigned_to == nil  %>
                  <span class="label label-info btn-gap pull-right"><%= todo.assigned_to.profile.name %></span>
                <% else %>
                    <span class="label label-info btn-gap pull-right">Unassigned</span>
                <% end %> 
            </td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
    <tr>
      <td>
        <%= link_to [:new, @project, @todolist, :todo]  do%>
          <i class="icon-plus"></i> Add to-do
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
<br />                                              
