<%= render 'shared/menu' %>

  <div class="pull-left navlist"> <%= link_to [:edit, @project, @todolist], :class => 'btn',
                                                   :method => 'get' do %>
            <i class="icon-pencil icon-white"></i> Edit List
          <% end %></div>
      

<table class="table table-bordered table-condensed">
  <thead>
    <tr>
    	<th>
        <%= @todolist.name %> 
        <div class='pull-right'>
        <% if @todolist.start_date? %>

            <% if @todolist.start_date > DateTime.now.to_date %>
              Due to start in:<span class="date"> <%= distance_of_time_in_words_to_now(@todolist.start_date) %> </span>
              Duration:<span class="date"> <%= distance_of_time_in_words(@todolist.start_date, @todolist.end_date) %></span>
            <% else %>
              <span class="date"> <%= distance_of_time_in_words(DateTime.now.to_date, @todolist.end_date) %></span>
              Until scheduled completion date
             <% end %>

        <% elsif @todolist.end_date? %>

            <% if @todolist.end_date > DateTime.now.to_date %>
                <span class="date"> 
                  <%= distance_of_time_in_words(DateTime.now.to_date, @todolist.end_date) %> 
                </span>
                Until scheduled completion date
            <% else %>
                Was due for completion
                <span class="date"> 
                  <%= distance_of_time_in_words(DateTime.now.to_date, @todolist.end_date) %> 
                </span>
                ago.
            <% end %>

        <% else %>

        <% end %>
          

       </div>   
      </th>
     </tr>
  </thead>
  <tbody>
        <% if @todolist.todos.count <= 0 %>
        <tr>
          <td>
          Let's get started and add some tasks to the list
        </td>
        </tr>
        <% else %>
        <% @todolist.todos.each do |todo| %>

        <% unless todo.completed_at? %>
          <tr>
            <td>
              <%= todo.name %>
                
              
                <%= link_to 'Issue', '#', :class => 'btn btn-warning btn-mini pull-right btn-gap' %>
                  
                
            
                <%= link_to [@project, @todolist, todo, :complete_todo], :class => 'btn btn-mini btn-success pull-right btn-gap', :method => 'put' do %>
                  <i class="icon-ok icon-white"></i> Done
                <% end %>

                <% unless todo.assigned_to == nil  %>
                  <span class="label label-info btn-gap pull-right"><%= todo.assigned_to.profile.name %></span>
                <% else %>
                    <span class="label label-info btn-gap pull-right">Unassigned</span>
                <% end %> 
            </td>
          </tr>
        
          <% end %>
      <% end %>
      <% end %>
  </tbody>
</table>
<%= link_to 'Add todo', [:new, @project, @todolist, :todo], :class => 'btn btn-mini' %>
<br />
<br />                                              
