<%= link_to item.name, [current_account, @project, worklist, item], :class => 'item-list' %>
<% if item.completed_at %>
      Completed <%= distance_of_time_in_words_to_now(item.completed_at) %> ago.
<% end %>
              
<%= link_to 'Issue', new_account_project_issue_path(current_account, @project, :item_id => item.id), 
                                                      :class => 'btn btn-warning btn-mini pull-right btn-gap' %>
<% if item.completed_at.nil? %>
  <%= link_to [current_account, @project, worklist, item, :complete_item], :class => 'btn btn-mini btn-success pull-right btn-gap', 
                                                          :method => 'put' do %>
      <i class="icon-ok icon-white"></i> Done
  <% end %>
<% else %>
  <%= link_to [current_account, @project, worklist, item, :incomplete_item], :class => 'btn btn-mini btn-info pull-right btn-gap', 
                                                          :method => 'put' do %>
      <i class="icon-remove icon-white"></i> Uncompleted
  <% end %>
<% end %>


<% unless item.assigned_to == nil  %>
  <span class="label label-info btn-gap pull-right"><%= item.assigned_to.profile.name %></span>
<% else %>
  <span class="label label-info btn-gap pull-right">Unassigned</span>
<% end %>
              
<div class="notes">
	Due for completion in <%= relative_date(item.scheduled) %>
</div>