<%= link_to item.name, [@project, worklist, item], :class => 'item-list' %>
<% if item.completed_at %>
      Completed <%= distance_of_time_in_words_to_now(item.completed_at) %> ago.
<% end %>
              
<%= link_to 'Issue', new_project_issue_path(@project, :item_id => item.id), 
                                                      :class => 'btn btn-warning btn-mini pull-right btn-gap' %>
<% if item.completed_at.nil? %>
  <%= link_to [@project, worklist, item, :complete_item], :class => 'btn btn-mini btn-success pull-right btn-gap', 
                                                          :method => 'put' do %>
      <i class="icon-ok icon-white"></i> Done
  <% end %>
<% else %>
  <%= link_to [@project, worklist, item, :incomplete_item], :class => 'btn btn-mini btn-info pull-right btn-gap', 
                                                          :method => 'put' do %>
      <i class="icon-remove icon-white"></i> Uncompleted
  <% end %>
<% end %>


<% unless item.assigned_to == nil  %>
  <span class="label label-info btn-gap pull-right"><%= item.assigned_to.profile.name %></span>
<% else %>
  <span class="label label-info btn-gap pull-right">Unassigned</span>
<% end %>
              
<div class="notes">
	
  	<% unless item.created_by.nil? %>
    	Created by <%= link_to item.created_by.profile.name, '#' %> <%= relative_date(item.created_at) %>
  	<% end %> 
</div>