
 <%= render 'error_messages' %>
 <div class="row">
  <div class="span4 offset4">
  <h3> Edit To-do </h3><br />
  <%= form_for [@project, @todolist, @todo] do |f| %>
  <div class="well">
  <%= f.text_field :name, :placeholder => 'Enter todo' %>
  </div>
  <h3>Options</h3><br />
  <div class="well"
  <%= f.label 'scheduled (optional)' %>
  <div><%= f.date_select :scheduled, {:prompt => {:day => 'Day', :month => 'Month', :year => 'Year'}}, :class => 'date-field', :include_blank => true %></div>
  <div><%= f.time_select :scheduled,  { :minute_step => 15,:ampm => true, :prompt => {:hour => 'hour', :minute => 'Minutes'}}, :class => 'date-field' %></div>

  <%= f.label 'assigned_to (optional)' %>
  <div><%= f.select :assigned_to_id , @project.team.users.all.collect{|user| [user.profile.name, user.id]}, {:include_blank => 'Unassigned'} %></div>
</div>

  <%= f.submit "Update To-do", :class => 'btn btn-primary' %>
  <%= link_to 'Cancel', @todolist.project, :class => 'btn'%>

  <% end %>

 </div>
</div>
