<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
		<%= link_to "Build Cloud", root_path, id: "logo" %> 
		<nav>
			<% if signed_in? %>
			<ul class="nav">
				<li class="divider-vertical"></li>
				<li><%= link_to  "Projects", projects_path %></li>
				<li><%= link_to  "Team", teams_path %></li>
				<li><%= link_to  "Contacts", team_contacts_path(current_account)%></li>

			</ul>	
			<ul class="nav pull-right">
					<li id="fat-menu" class="dropdown">
				       	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				       		<i class="icon-user icon-white"></i>
				       		<%= current_user.profile.name %>
				            <b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li><%= link_to "Profile", edit_profile_path(current_user.profile) %></li> 
							<li><%= link_to "Account", '#' %>	
							<li><%= link_to "Settings", edit_user_registration_path %></li>
							<li class="divider"></li>
							<li><%= link_to "Sign out", destroy_user_session_path, method: "delete" %></li>
						</ul> 
					</li>
					<li class="divider-vertical"></li>


			<% else %>
				<ul class="nav pull-right">
					<li> 
						<%= link_to root_path do %>
			    		<%= content_tag :i, '', :class => 'icon-home icon-white' %> Home
						<% end -%>
					</li> 
					<li><%= link_to "Sign in", new_user_session_path %></li>
				</ul> 
			<% end %>
				
		</nav>
   		</div>
  	</div>
</header>
